html{
margin-left: 0%;
margin-right: 0%;
max-width: 100%;
background-color: lightgrey;
background-position: center;
background-size: contain;
height: 100vh;
overflow-x: hidden;//horizontal overflow-y: scroll;//vertical
}
.navbar{
  cursor: context-menu;
  height: 10px;
  columns: 5;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  background: darkblue;
  color: white;
  padding-top: 20px;
}
.navbar:hover{
  color: pink;
}
.contain{
  background-color: lightgrey;
}

}
.intro{
  color: white;
  background-repeat: no-repeat;
}
.lists{
  background-image: url(../images/portfolio-home.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  margin-left: 3%;
  display: grid;
  width: 100%;
}
.intro:hover{
  cursor: pointer;
  text-transform: full-width;
}
#details{
  font-size: 35px;
  font-weight: bolder;
  margin-left: 2%;
  background-image: url(../images/portfolio-home.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 color: white;
}
#experience{
  font-size: 18px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 15%;
  color: white;
}
#skills{
font-size: 18px;
font-weight: bold;
margin-left: 15%;
margin-top: 5%;
margin-right: 15%;
color: white;

}
#education{
  font-size: 18px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 15%;
  color: white;

}
#h1{
  font-size: 16px;
  font-weight: bold;
}
img{
  border-radius: 15cm;
  height: 260px;
  width: 300px;
}

.image{
  font-size: 16px;
  font-weight: bolder;
  text-decoration: inherit;
  padding-top: 10px;
  text-align: center;
  margin-top: 3%;
  color: white;

}
#projects{
  color: white;
  margin-top: 5%;
}
#header{
  text-align: center;
  color: blue;
  font-size: 16px;
}
.header{
  margin-left: 35%;
  color: blue;
  margin-right: 35%;
}
.akhans{
  background-image: url(../images/akhan-back.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  height: 250px;
  width: 800px;
margin-left: 25%;
  margin-bottom: 5%;
}
.studio{
  background-image: url(../images/studioback.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 270px;
  width: 800px;
  margin-left: 25%;
  margin-bottom: 5%;
}
.seenoi{
  background-image: url(../images/pizza.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 310px;
  width: 800px;
  margin-left: 25%;
  margin-bottom: 5%;

}
.fill{
  text-align: center;
  background-image: url(../images/seenoi.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  color: white;
}
#request{
  font-size: 16px;
  font-weight: bold;
}
#name, #message, #email{
  background: transparent;
  color: white;
}
.contact{
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 12px;
}
.cards{
  width: 300px;
  text-align: left;
  margin-left: 35%;
  margin-right: 30%;
}
.copy{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: maroon;
}
.social_img{
  height: 30px;
}
.socials{
  text-align: left;
  text-decoration: overline;
  text-decoration: underline;
  display: block;
  color: black;
  margin-left: 32%;
  margin-right: 30%;
}
